.proyectos_img {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}

.card {
    width: 900px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;      
    border-radius: 10px;
}
