.proyectos_img {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}

.card {
    width: 900px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;      
    border-radius: 10px;
}

/* Estilos para los mensajes de éxito y error */
.mensaje {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

.mensaje.exito {
    background-color: #d4f8d4;
    color: #2e7d32;
}

.mensaje.error {
    background-color: #ffd6d6;
    color: #c62828;
}
