body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #292929;
  color: #333;
}
/* ================== SOBRE NOSOTROS ================== */
.sobre {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 40px;
    padding: 0 20px;
}

.logo-sobre {
    width: 130px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 4px #000);
}

.sobre-contenido h1 {
    font-size: 32px;
    margin-bottom: 14px;
    color: #ffd000;
}

.sobre-contenido p {
    font-size: 15px;
    margin-bottom: 14px;
    line-height: 1.6;
    color: white;
    background: #2d2d2d;
    padding: 12px;
    border-left: 5px solid #ffd000;
    border-radius: 12px;
}

/* ================== CARDS ================== */
.sobre-info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.card {
    background: #2d2d2d;
    border-left: 6px solid #ffd000;
    border-right: 6px solid #000;
    color: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 26px rgba(0,0,0,0.5);
}

.card h2 {
    margin-bottom: 10px;
    color: #ffd000;
    font-weight: 700;
}

/* Opropietario */
.owner { display: flex; align-items: center; gap: 12px; }
.owner-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #000;
    outline: 4px solid #ffd000;
}

.bio { margin-top: 10px; font-size: 14px; color: #e8e8e8; }

/* Servicios */
.card ul { list-style: none; margin-top: 10px; }
.card li {
    padding: 6px 0;
    font-size: 14px;
    border-bottom: 1px solid #444;
    color: #fff;
}
.card li:last-child { border-bottom: none; }
